/.idea/
/NewBasicActivity/.idea/
/Menu/.idea/
/Memwithcats/.idea/
/Toast/.idea/
/HelloKitty/.idea/
/Notification/.idea/
/HelloWorld/.idea/
/Orientation/.idea/
/Mem/.idea/
/Colors/.idea/
/Click/.idea/
/activity/.idea/
/Animation/.idea/
/Camera/.idea/
/MapsAndStreetView/.idea/
/Localization/.idea/
/Graphics/.idea/
/ActivityLifeCycle/.idea/
